<div ng-controller="CreateCtrl">
  <form>
    <div class="input-trckr-add">
      <input type="text" name="input" ng-model="tracker.input" placeholder="Task description" >
      <input type="text" ng-model="tracker.client" typeahead="client.name as client.name for client in clients | filter:$viewValue | limitTo:8" class="form-control" placeholder="Client (case)">

    </div>
    <button class="btn btn-success" ng-click="save()"><i class="icon-time icon-white"></i> Start</button>
  </form>
</div>
<div ng-controller="ListCtrl">
  <table class="unstyled table table-condensed">
    <tr ng-repeat="tracker in trackers" ng-class="{info:tracker.active}" >
      <td class="column-left">
        <h4>{{time(tracker)}}</h4>
        <span ng-hide="tracker.registerstatus=='success'" >
          <div class="btn-toolbar">
            <div class="btn-group">
              <span ng-hide="tracker.active" ng-click="start(tracker)" class="btn btn-mini btn-success"><i class="icon-play icon-white"></i></span>
              <span ng-show="tracker.active" ng-click="stop(tracker)" class="btn btn-mini btn-warning"><i class="icon-pause icon-white"></i></span>
              <span ng-show="editTracker" ng-click="editTracker=false; saveTrackers(tracker)" class="btn btn-mini btn-success"><i class="icon-ok icon-white"></i></span>
              <span ng-hide="editTracker" ng-click="editTracker=true; setTime(tracker)" class="btn btn-mini"><i class="icon-edit"></i></span>
              <span ng-click="del(tracker)" class="btn btn-mini"><i class="icon-trash"></i></span>
            </div>
          </div>
        </span>

      </td>
      <td>
        <span ng-hide="editTracker" ng-class="{active:tracker.active}">
          <h5>{{tracker.name}}</h5>
          @ {{tracker.client}}
        </span>
        <edit-tracker></edit-tracker>
      </td>
    </tr>
    <tr>
      <td>Total in list: {{timeTotal()}}
      </td>
      <td>
      </td>
    </tr>
  </table>
</div>
