 <div ng-controller="OverviewCtrl">
  <form class="form-inline">
    <div class="input-append">
      <input class="input-small" datepicker-popup="dd-MM-yyyy" ng-model="from_date" is-open="fromOpen" type="text">
      <span class="add-on"><i class="icon-calendar"></i></span>
    </div>

    <div class="input-append">
      <input class="input-small" datepicker-popup="dd-MM-yyyy" ng-model="to_date" is-open="toOpen" type="text">
      <span class="add-on"><i class="icon-calendar"></i></span>
    </div>
    <button class="btn" ng-click="updateOverview()"><i class="icon-refresh"></i></button>
    <input class="input-small" type="text" ng-model="searchText" style="width: 25%" placeholder="Search">
  </form>
  <table class="unstyled table table-condensed">
    <tr ng-repeat="tracker in trackers | filterTrackers:searchText" >
      <td class="column-left">
          <span class="dropdown">
            <h4><a class="dropdown-toggle"> {{time(tracker)}} </a></h4>
            <ul class="dropdown-menu">
              <li><a class="btn-mini" ng-click="tracker.registerstatus=''">Re-add</a></li>
            </ul>
          </span>
          <span ng-show="tracker.registerstatus!=='success'" ng-click="editTracker=true; setTime(tracker)" class="btn btn-mini"><i class="icon-edit"></i></span>
      </td>
      <td>
        <span ng-hide="editTracker"><h5>{{tracker.name}}</h5>
          @ {{tracker.client}}
        </span>
          <edit-tracker ng-if="tracker.registerstatus!=='success'"></edit-tracker>

      </td>
      <td class="column-right">
                   <form class="form-inline" ng-if="tracker.registerstatus!=='success'">
            <select ng-model="tracker.task_type" ng-options="option.id as option.name for option in task_type">
          </select>
            <select ng-model="tracker.client_id" ng-options="option.id as option.name for option in clients">
          </select>
          <div class="input-append">
            <input class="input-small" datepicker-popup="dd-MM-yyyy" ng-model="tracker.timestamp" type="text">
            <span class="add-on"><i class="icon-calendar"></i></span>
          </div>
          <button class="btn" ng-hide="tracker.active" ng-click="register(tracker)" type="submit">Register</button>
          <p ng-if="tracker.active">Cannot register active tracker.</p>
          <span ng-if="tracker.register_progress"><span class="loading"></span></span>
        </form>
        <span ng-if="tracker.registermessage!=='undefined'" class="label label-success">{{tracker.registermessage}}</span>
      </td>
    </tr>
   <tr>
      <td>Total in list: {{timeTotal()}}
      </td>
      <td>
      </td>
      <td>
      </td>
    </tr>

  </table>
</div>
