<div ng-controller="SettingsCtrl">
  <form>
    <fieldset>
      <legend>CRM</legend>
      <label>Username:</label>
      <input type="text" ng-model="settingsUser" />
      <label>Password:</label>
      <input type="password" ng-model="settingsPass" />
      <label>URL:</label>
      <input type="text" ng-model="settingsURL" />
    </fieldset>

  <fieldset>
      <legend>Notifications</legend>
      <span class="help-block">Notification settings will first take effect after restart.</span>
      <label>
        <input type="checkbox" ng-model="settingsNotifyEn" ng-true-value="1" />
        Enable notifications
      </label>
      <label>Interval (min):</label>
      <input type="text" ng-model="settingsNotifyInt" />
    </fieldset>

    <button class="btn btn-success" ng-click="saveSettings()">Save settings</button>
  </form>
</div>
