<div class="zen">
  <a href="#"><span class="icon-chevron-left icon-white back"></span></a>
  <div ng-controller="ZenCtrl">

    <span ng-click="toggle(tracker)" class="huge">{{time}}</span>
    <span class="large">{{tracker.name}}@{{tracker.client}}</span>

  </div>


  <div ng-controller="CreateCtrl" class="span5">
    <form>
        <input type="text" name="input" class="span5" typeaheadtagger="" datasets="example" ng-model="tracker.input">
        <button class="btn btn-large btn-success" ng-click="save()">Start</button>
    </form>
  </div>

</div>
