<form ng-submit="saveSettings()">
  <div class="form-group">
    <label>Trckr server url:</label>
    <input ng-model="trckrServer" class="form-control" />
  </div>
  <div class="form-group">
    <label>CRM soap url:</label>
    <input ng-model="crmEndpoint" class="form-control" />
  </div>
  <div class="form-group">
    <label>CRM username:</label>
    <input ng-model="crmUsername" class="form-control" />
  </div>
  <div class="form-group">
    <label>CRM password:</label>
    <input type="password" ng-model="crmPassword" class="form-control" />
  </div>

  <div class="well well-sm">
    <div class="form-group">
      <label>faciendo listid:</label>
      <input ng-model="faciendoListId" class="form-control" />
    </div>

    <div class="form-group">
      <label>always show faciendo:</label>
      <input ng-model="alwaysShowFaciendo" type="checkbox" class="form-control" />
    </div>

    <div class="form-group">
      <label>intranet url:</label>
      <input ng-model="intranetUrl" class="form-control" />
    </div>

    <div class="form-group">
      <label>intranet username:</label>
      <input ng-model="intranetUsername" class="form-control" />
    </div>

    <div class="form-group">
      <label>intranet password:</label>
      <input type="password" ng-model="intranetPassword" class="form-control" />
    </div>
  </div>

  <input type="submit" value="Save" class="btn btn-success"/>
</form>
<br />
v. {{version}}
