<!-- Table overview for time entries -->
<!--<div class="pull-right"><span class="btn btn-default btn-xs"><span class="glyphicon glyphicon-plus"</span></span></div>-->
<h4>Time</h4>

<table class="table table-condensed">
  <thead>
    <tr>
      <th>Start</th>
      <th>Stop</th>
      <th>Duration</th>
      <th>Edit</th>
    </tr>
  </thead>
  <tr ng-repeat="time_entry in task.time_entries">
    <td ng-hide="time_entry.edit">{{time_entry.start_formatted}}</td>
    <td ng-show="time_entry.edit"><input class="form-control" ng-model="time_entry.start_formatted" type="text"></td>
    <td ng-hide="time_entry.edit">{{time_entry.stop_formatted}}</td>
    <td ng-show="time_entry.edit"><input class="form-control" ng-model="time_entry.stop_formatted" type="text"></td>
    <td ng-hide="time_entry.edit">{{time_entry.duration_formatted}}</td>
    <td ng-show="time_entry.edit"><input class="form-control" ng-model="time_entry.duration_formatted" type="text"></td>
    <td>
      <div class="btn-group">
        <span ng-hide="time_entry.edit" ng-click="time_entry.edit = true;" class="btn btn-default btn-xs">
          <span class="glyphicon glyphicon-edit"></span>
        </span>
        <span ng-show="time_entry.edit" ng-click="time_entry.edit = false; saveTimeEntry(time_entry)" class="btn btn-success btn-xs">
          <span class="glyphicon glyphicon-ok"></span>
        </span>
        <span class="btn btn-default btn-xs" ng-click="time_entry.delete = !time_entry.delete">
          <span class="glyphicon glyphicon-trash"></span>
        </span>
        <span ng-if="time_entry.delete" class="btn btn-danger btn-xs" ng-click="deleteTimeEntry(time_entry)">
          <span class="glyphicon glyphicon-ok"></span>
        </span>
      </div>
    </td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td>{{task.total_duration}}</td>
    <td></td>
  </tr>
</table>

<!-- Table overview for CRM info -->
<div ng-show="task.register_info" class="pull-right"><span class="btn btn-default btn-xs" ng-click="registerEdit = !registerEdit; prepareRegisterEdit()"><span class="glyphicon glyphicon-edit"</span></span></div>
<h4>CRM</h4>
<span ng-hide="task.register_info">Not registered</span>
<form  ng-show="task.register_info" ng-submit="updateRegister()">
  <table class="table table-condensed">
    <tr>
      <td>Registered</td>
      <td ng-hide="registerEdit">{{task.register_info.time_length}}</td>
      <td ng-show="registerEdit"><input type="text" class="form-control" ng-model="register.timeLength"></td>
    </tr>
    <tr>
      <td>Case</td>
      <td ng-hide="registerEdit">{{task.case_name}}</td>
      <td ng-show="registerEdit">
        <input type="text" placeholder="Case" ng-model="register.caseName" typeahead="case.name for case in cases | filter:$viewValue | limitTo:20" class="form-control" typeahead-on-select="selectRegisterCase($item, $model, $label, task)">
      </td>
    </tr>
    <tr>
      <td>Date</td>
      <td ng-hide="registerEdit">{{formatDate(task.register_info.date_entered)}}</td>
      <td ng-show="registerEdit"><input type="text" class="form-control" ng-model="register.date"></td>
    </tr>
  </table>
  <div style="text-align: right;" ng-show="registerEdit">
    <button ng-click="registerEdit = false; updateRegister()" class="btn btn-success btn-sm">Save</button>
    <p>
      <small>This only updates these 3 parameters</small>
    </p>
  </div>
  <span class="edit-register-info"><span ng-show="saving_to_crm" class="saving-to-crm"><span class="glyphicon glyphicon-cloud-upload"></span></span></span>
</form>
