<div class="">
  <button id="js-add-faciendo" class="btn btn-sm btn-info pull-right" ng-click="addFaciendoTask =! addFaciendoTask">
    <span class="glyphicon glyphicon-plus"></span>
    <span class="glyphicon glyphicon-tasks"></span>
    &lt;C-f&gt;
  </button>

  <!-- addFaciendoTask -->
  <div class="" ng-show="addFaciendoTask">
    <div class="col-md-12">
      <div class="row">
        <form class="form-inline" ng-submit="saveTask()">
          <div class="col-xs-11">
            <input id="js-faciendo-task" class="form-control input-sm" placeholder="Task" ng-model="input.Task" typeahead="story.name for story in stories | filter:$viewValue | limitTo:20">

            <input class="form-control input-sm" placeholder="Tags" ng-model="input.Tags" typeahead="tag.tag for tag in tags | filter:$viewValue | limitTo:10"></input>
            <input class="form-control input-sm" placeholder="Note" ng-model="input.Note"></input>
            <input class="form-control input-sm" placeholder="CRM Case" ng-model="input.Case" typeahead="case.name for case in cases | filter:$viewValue | limitTo:20" class="form-control" typeahead-on-select="selectCase($item, $model, $label, input)"></input>
            <input class="form-control input-sm" placeholder="When" ng-model="input.TempDate" ng-keyup="parseDateString()" ></input>
          </div>
          <button class="btn btn-sm btn-success">
            <span class="glyphicon glyphicon-ok-sign"></span>
          </button>

        </form>
      </div>
      <div class="well well-sm" style="display: inline-block">
        <datepicker ng-model="input.Date" min-date="minDate" show-weeks="true" style="float: left"></datepicker>
        <timepicker ng-model="input.Date" ng-change="changed()" hour-step="1" minute-step="1" show-meridian="ismeridian"></timepicker>
      </div>
    </div>
  </div>
  <!-- /addFaciendoTask -->

  <!-- TaskList -->
  <table class="table table-condensed">
    <tr ng-repeat-start="task in tasks">
      <td colspan="5" ng-if="showDate(task)">
        <b>{{task.dueStr}}</b>
      </td>
    <tr ng-repeat-end>
      <td>
        <input type="checkbox" ng-click="completeTask(task)">
      </td>
      <td>
        <small><span class="label label-default">{{task.tags}}</span></small>
        {{task.title}}
        <small ng-if="task.caseName"> (<i>{{task.caseName}}</i>)</small>
      </td>
      <td>
        <button class="btn btn-success btn-xs" ng-click="startFaciendoTask(task)" tooltip="Start task">
          <span class="glyphicon glyphicon-arrow-left"></span>
          <span class="glyphicon glyphicon-play"></span>
        </button>
      </td>
      <td>
        <button popover-placement="left" tooltip="Note" popover="{{task.noteText}}" ng-if="task.note" class="btn btn-default btn-xs">+</button>
      </td>
      <td style="width: 90px;">
        <div class="btn-group">
          <span class="btn btn-xs btn-default" ng-click="taskEdit(task)"><span class="glyphicon glyphicon-edit"></span></span>
          <span class="btn btn-xs btn-default" ng-click="task.confirmdelete = !task.confirmdelete"><span class="glyphicon glyphicon-trash"></span></span>
          <span class="btn btn-xs btn-danger" ng-if="task.confirmdelete" ng-click="deleteTask(task)"><span class="glyphicon glyphicon-ok"></span></span>
        </div>
      </td>
    </tr>
  </table>
  <!-- /TaskList -->
</div>
