<!DOCTYPE html>
<html ng-app="trckr">
  <head>
    <meta charset="utf-8">
    <title>Trckr</title>

    <link href="vendor/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <link href="vendor/bootstrap/dist/css/bootstrap-theme.css" rel="stylesheet">
    <link href="css/app.css" rel="stylesheet">

    <script src="vendor/underscore/underscore.js"></script>
    <script src="vendor/date/date.js"></script>
    <script>var fuzzyDate = date; date = null;</script>
    <script src="vendor/xdate/xdate.js"></script>
    <script src="vendor/mousetrap/mousetrap.js"></script>
    <script src="vendor/drupal-client/build/drupal.min.js"></script>
    <script src="vendor/jquery/dist/jquery.min.js"></script>
    <script src="vendor/angular/angular.js"></script>
    <script src="vendor/angular-route/angular-route.js"></script>
    <script src="vendor/angular-bootstrap/ui-bootstrap.js"></script>
    <script src="vendor/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="app.js"></script>
    <script src="js/mousetrapBindings.js"></script>
    <script src="js/controllers/MenuCtrl.js"></script>
    <script src="js/controllers/CaseOverviewCtrl.js"></script>
    <script src="js/controllers/DisplayCtrl.js"></script>
    <script src="js/controllers/CaseOverviewCtrl.js"></script>
    <script src="js/controllers/TaskListCtrl.js"></script>
    <script src="js/controllers/ModalCreateCtrl.js"></script>
    <script src="js/controllers/FaciendoCtrl.js"></script>
    <script src="js/controllers/SettingsCtrl.js"></script>
    <script src="js/services/dbService.js"></script>
    <script src="js/services/extService.js"></script>
  </head>
  <body ng-controller="MenuCtrl">
    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <div>
          <a class="btn btn-sm" href="#/list"><span class="glyphicon glyphicon-home"></span> Overview</a>
          <a class="btn btn-sm" href="#/caseoverview"><span class="glyphicon glyphicon-list"></span> Case-dump</a>
          <!--          <a class="btn btn-sm" href="#/faciendo"><span class="glyphicon glyphicon-check"></span> Faciendo+</a>-->
          <a class="btn btn-sm" href="#/settings"><span class="glyphicon glyphicon-wrench"></span> Settings</a>
          <span class="btn btn-sm btn-success pull-right" id="js-add-task" ng-click="modal()"><span class="glyphicon glyphicon-plus"></span> Add &lt;C-n&gt;</span>
        </div>
      </div><!-- /.container-fluid -->
      <a class="sneaky-dev-console" onclick="win.showDevTools();"></a>
    </nav>

    <div class="page-container">
      <div class="col-md-{{colWidth}}">
        <div ng-view></div>
      </div>
      <div class="col-md-{{colWidth}}" ng-if="showFaciendo">
        <div ng-include ng-controller="FaciendoCtrl" src="'templates/faciendo/listFaciendo.html'"></div>
      </div>
    </div>
  </body>
</html>
