<!doctype html>
<html ng-app="trackers">
  <head>
    <title>Trckr</title>
    <script src="components/jquery/jquery.js"></script>
    <script src="components/angular/angular.min.js"></script>
    <script src="components/angular-route/angular-route.js"></script>
    <script src="components/mousetrap/mousetrap.min.js"></script>
    <script src="components/angular-bootstrap/ui-bootstrap-tpls.js"></script>

    <script src="app/utils.js"></script>
    <script src="app/db.js"></script>
    <script src="app/conf.js"></script>
    <script src="app/notify.js"></script>
    <script src="app/keybind.js"></script>
    <script src="app/index.js"></script>
    
    <script src="app/controllers/HeaderCtrl.js"></script>
    <script src="app/controllers/ListCtrl.js"></script>
    <script src="app/controllers/CreateCtrl.js"></script>
    <script src="app/controllers/OverviewCtrl.js"></script>
    <script src="app/controllers/SettingsCtrl.js"></script>
    
    <script src="app/factories/overviewService.js"></script>
    <script src="app/factories/trackerService.js"></script>
    
    <script src="app/directives/jquery.addTagger.js"></script>
    <script src="app/directives/editTracker.js"></script>
    <script src="app/directives/addTagger.js"></script>
    
    <link href="css/bootstrap-combined.min.css" rel="stylesheet">
    <link href="css/app.css" rel="stylesheet">
  </head>
  <body>
    <div class="header" ng-controller="HeaderCtrl">
      <div class="alert" ng-if="tracker.forgot">
        Yesterday you forgot this one:
        <strong>{{tracker.name}}@{{tracker.client}} </strong><br />
        Trckr was closed at: {{tracker.close}} <br />
        Which gives us: <strong>{{tracker.formatted_time}}</strong>
        <edit-tracker></edit-tracker>
        <div class="pull-right">
          <span ng-hide="editTracker" ng-click="editTracker=true;" class="btn btn-mini"><i class="icon-edit"></i></span>
          <button class="btn btn-mini btn-success" ng-click="editTracker=false; saveTrackers(tracker)"><i class="icon-ok icon-white"></i></button>
        </div>
      </div >
      <div class="menu-container">
        <div class="menu">
          <ul> 
            <li ng-class="{active: isActive('/')}">
              <a href="#/" title="Tracker list"><i class="icon-time icon-white"></i></a>
            </li>
            <li ng-class="{active: isActive('/overview')}">
              <a href="#/overview" title="Overview"><i class="icon-list icon-white"></i></a>
            </li>
            <li ng-class="{active: isActive('/settings')}">
              <a href="#/settings" title="Settings"><i class="icon-wrench icon-white"></i></a>
            </li>
            <li class="menu-help">
              <a onclick="win.showDevTools();"></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="container">
      <div ng-view class="row-fluid">
      </div>
    </div>
  </body>
</html>
